.swiper-container {
  /* width: 100%; */
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #164451;
  color: white;
  padding: 75px;
  border-radius: 25px;
  position: relative;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide .quotes {
  background-image: ur;
  position: absolute;
} */
.swiper-button-prev {
  left: -25px;
}

.swiper-button-next {
  right: -25px;
}
